.SustainBusiness {
    .l-main__sub-layout {
        background-image: url('../img/sustain-business/sustain-business_submain_bg.jpg');
    }
    .l-main__sub-layout__menu-box__item:first-child + .l-main__sub-layout__menu-box__item {
        margin-right: 33.3%;
    }
    @include pc-only {
        .l-main__sub-layout__menu-box {
            padding-top: 33%;
        }
    }

    .c-subvisual {
        background-image: url('../img/subvisual_company_news_bg.jpg');
    }

    .management {
        .o-img-wrap__rwd {
            width: 1120px;
            margin: 0 auto;
            padding-bottom: 150px;
        }
        @include tab {
            .o-img-wrap__rwd {
                width: auto;
            }
        }
        @include mob-large {
            .o-img-wrap__rwd {
                padding-bottom: 70px;
            }
        }
        .l-content {
            padding: 0;
        }
        .m-tab__list.m-tab__head-list {
            margin-bottom: 0;
        }
        .m-accordion-wrap {
            margin-bottom: 150px;
        }
        .subtab01 .l-content__wrap-burst {
            padding-top: 1px;
        }
        


    }

    .m-accordion-wrap {
        &.m-accordion-null {
            margin-top: 0;
            .m-accordion__list {
                pointer-events: none;
                .m-accordion__head:after {
                    display: none;
                }
                .m-accordion__head__tit {
                    padding-left:110px;
                }
                @include mob {
                    .m-accordion__head__tit {
                        padding-left:20px;
                    }
                }

            }
        }
    }

    .ev-management {
        .m-visual {
            &__type1 {
                margin-bottom: 100px;
            }
            @include tab {
                &__type1 {
                    margin-bottom: 60px;
                    img {
                        width: 100%;
                    }
                }
            }
            &__type2 {
                padding: 80px 0;
                > ul {
                    @include Flex-around-center;
                    > li {
                        img {
                            
                        }
                    }
                }
            }
            @include tab {
                &__type2 {
                    padding: 30px 0;
                    > ul {
                        @include Flex_column-center-center;
                        > li {
                            & + li {margin-top:30px;}
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .guide {
            margin-top: 40px;
            color:#666;
            font-size: 15px;
            line-height: 1.5;
        }
        @include mob-large {
            .guide {
                margin-top: 20px;
                font-size: 12px;
            }
        }
    }


}