/* line 3, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout {
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

/* line 7, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__wrap {
    padding: 230px 0;
    max-width: 1200px;
    margin: 0 auto 0;
}

@media screen and (max-width: 640px) {
    /* line 7, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__wrap {
            padding: 0;
    }
}

/* line 14, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__wrap-box {
    position: relative;
    width: 100%;
    color: #fff;
}

/* line 20, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__info {
    background: rgba(17, 17, 17, 0.7);
    padding: 90px 10% 90px 6%;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    /* line 20, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__info {
            padding: 60px 5% 60px 4%;
    }
}

@media screen and (max-width: 640px) {
    /* line 20, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__info {
            padding: 75px 15px 100px;
            text-align: center;
    }
}

/* line 31, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__info-tit {
    position: relative;
    font-size: 48px;
    padding-bottom: 50px;
    transition: all 0.3s linear 0s;
}

@media screen and (max-width: 900px) {
    /* line 31, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__info-tit {
            font-size: 36px;
    }
}

@media screen and (max-width: 640px) {
    /* line 31, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__info-tit {
            font-size: 26px;
            padding-bottom: 25px;
    }
}

/* line 43, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__info-tit:after {
    content: '';
    display: block;
    position: absolute;
    width: 60px;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: #fff;
}

@media screen and (max-width: 640px) {
    /* line 43, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__info-tit:after {
            left: 50%;
            width: 30px;
            height: 1px;
            margin-left: -15px;
    }
}

/* line 60, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__info-desc {
    margin-top: 50px;
}

@media screen and (max-width: 640px) {
    /* line 60, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__info-desc {
            margin-top: 25px;
    }
}

/* line 66, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__info-desc__sub-desc {
    margin-top: 100px;
    font-size: 26px;
    font-weight: 800;
    transition: margin 0.3s linear 0s,
    font-size 0.3s linear 0s;
}

@media screen and (max-width: 900px) {
    /* line 66, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__info-desc__sub-desc {
            margin-top: 50px;
            font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    /* line 66, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__info-desc__sub-desc {
            margin-top: 25px;
    }
}

/* line 80, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__info-desc__sub-caption {
    margin-top: 30px;
    line-height: 1.5;
    color: #999;
    transition: font-size 0.3s linear 0s;
}

@media screen and (max-width: 900px) {
    /* line 80, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__info-desc__sub-caption {
            font-size: 13px;
    }
}

/* line 92, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu {
    position: absolute;
    right: 0;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {
    /* line 92, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu {
            position: relative;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0 15px;
    }
}

/* line 104, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu:after {
    content: '';
    display: block;
    clear: both;
}

/* line 109, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box {
    height: 100%;
}

/* line 111, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item {
    position: relative;
    float: left;
    width: 33.3%;
    padding: 30px;
    box-sizing: border-box;
    transition: padding 0.3s linear 0s;
}

@media screen and (max-width: 900px) {
    /* line 111, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item {
            padding: 20px;
    }
}

/* line 121, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item:after {
    content: '';
    position: absolute;
    display: block;
    background-image: url(../img/icons.png);
    width: 15px;
    height: 7px;
    bottom: 30px;
    right: 30px;
    background-position: -187px -41px;
}

@media screen and (max-width: 900px) {
    /* line 121, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item:after {
            bottom: 20px;
            right: 20px;
    }
}

@media screen and (max-width: 640px) {
    /* line 121, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item:after {
            bottom: 10px;
            right: 10px;
    }
}

@media screen and (min-width: 640px) {
    /* line 141, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item:hover {
            box-shadow: 8px 7px 30px 4px rgba(0, 0, 0, 0.5);
            transform: translate(0px, -2px);
            transition: transform 0.3s linear 0s;
            z-index: 1;
    }
}

/* line 148, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-tit {
    font-size: 25px;
    line-height: 1.3;
    transition: font-size 0.3s linear 0s;
}

@media screen and (max-width: 900px) {
    /* line 148, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item-tit {
            font-size: 18px;
    }
}

@media screen and (max-width: 640px) {
    /* line 148, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item-tit {
            font-size: 14px;
    }
}

/* line 159, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-desc {
    margin-top: 30px;
    line-height: 1.3;
    transition: font-size 0.3s linear 0s,
margin 0.3s linear 0s;
}

@media screen and (max-width: 900px) {
    /* line 159, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item-desc {
            font-size: 13px;
            margin-top: 15px;
            word-break: keep-all;
    }
    /* line 168, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item-desc > br {
            display: none;
    }
}

/* line 172, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-desc-pc {
    display: block;
}

/* line 175, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-desc-mo {
    display: none;
}

@media screen and (max-width: 640px) {
    /* line 179, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item-desc-pc {
            display: none;
    }
    /* line 182, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__menu-box__item-desc-mo {
            display: block;
    }
}

/* line 187, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-bg-type01 {
    background: #0072bc;
}

/* line 190, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-bg-type01-opacity {
    background: rgba(0, 114, 188, 0.8);
}

/* line 193, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-bg-type02 {
    background: #e86d1f;
}

/* line 196, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-bg-type02-opacity {
    background: rgba(232, 109, 31, 0.8);
}

/* line 199, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-bg-type03 {
    background: #00b274;
}

/* line 202, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__menu-box__item-bg-type03-opacity {
    background: rgba(0, 178, 116, 0.8);
}

/* line 209, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__typeA .l-main__sub-layout__info {
    position: relative;
    display: block;
    width: 50%;
}

@media screen and (max-width: 640px) {
    /* line 209, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeA .l-main__sub-layout__info {
            width: 100%;
    }
}

/* line 217, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__typeA .l-main__sub-layout__menu {
    top: -40px;
    bottom: 0;
    left: 45%;
    width: 50%;
}

@media screen and (max-width: 640px) {
    /* line 217, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeA .l-main__sub-layout__menu {
            left: 0;
            right: 0;
            bottom: 0;
            width: auto;
    }
}

/* line 229, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__typeA .l-main__sub-layout__menu-box__item {
    height: 33.33333333%;
}

@media screen and (max-width: 640px) {
    /* line 229, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeA .l-main__sub-layout__menu-box__item {
            padding: 0;
            padding-top: 33.3%;
    }
}

@media screen and (max-width: 640px) {
    /* line 237, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeA .l-main__sub-layout__menu-box__item-box {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 20px;
    }
}

/* line 248, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__typeB .l-main__sub-layout__info {
    width: 65%;
    margin-bottom: 200px;
}

@media screen and (max-width: 640px) {
    /* line 248, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeB .l-main__sub-layout__info {
            width: 100%;
            margin-bottom: 0;
    }
}

/* line 256, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__typeB .l-main__sub-layout__info-desc {
    width: 49%;
}

@media screen and (max-width: 640px) {
    /* line 256, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeB .l-main__sub-layout__info-desc {
            width: 100%;
    }
}

/* line 262, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__typeB .l-main__sub-layout__menu {
    top: 100px;
    left: 30%;
}

@media screen and (max-width: 640px) {
    /* line 262, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeB .l-main__sub-layout__menu {
            left: 0;
            right: 0;
            top: -40px;
    }
}

/* line 271, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout__typeB .l-main__sub-layout__menu-box__item {
    min-height: 435px;
}

@media screen and (max-width: 900px) {
    /* line 271, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeB .l-main__sub-layout__menu-box__item {
            min-height: 300px;
    }
}

@media screen and (min-width: 640px) {
    /* line 271, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeB .l-main__sub-layout__menu-box__item {
            padding-bottom: 160px;
    }
    /* line 278, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeB .l-main__sub-layout__menu-box__item:first-child {
            margin-top: 120px;
    }
    /* line 280, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeB .l-main__sub-layout__menu-box__item:first-child + .l-main__sub-layout__menu-box__item + .l-main__sub-layout__menu-box__item {
            margin-top: 60px;
    }
}

@media screen and (max-width: 640px) {
    /* line 271, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout__typeB .l-main__sub-layout__menu-box__item {
            width: 100%;
            min-height: auto;
    }
}

@media screen and (max-width: 640px) {
    /* line 292, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout .c-stock {
            padding: 0 10px;
    }
}

/* line 296, src/common/scss/package/05-l-main.scss */
.l-main__sub-layout .c-stock__tit {
    padding: 0 0 15px 0;
    border-bottom: 1px solid #6f6e6c;
    text-align: left;
    color: #fff;
}

@media screen and (max-width: 640px) {
    /* line 296, src/common/scss/package/05-l-main.scss */
    .l-main__sub-layout .c-stock__tit {
            padding-left: 10px;
    }
}