/* line 1, src/common/scss/package/06-p-main.scss */
.main-nav {
    position: fixed;
    top: 50%;
    left: 30px;
    margin-top: -4%;
    color: #fff;
    z-index: 8;
    opacity: 1;
    transition: opacity 0.3s linear 0s;
}

@media screen and (min-width: 1600px) {
    /* line 1, src/common/scss/package/06-p-main.scss */
    .main-nav {
            left: 60px;
    }
}

/* line 13, src/common/scss/package/06-p-main.scss */
.main-nav__list {
    position: relative;
}

/* line 15, src/common/scss/package/06-p-main.scss */
.main-nav__list:before {
    content: '';
    position: absolute;
    display: block;
    top: 13px;
    left: 50%;
    bottom: 13px;
    width: 2px;
    opacity: 0.3;
    background-color: #fff;
}

/* line 27, src/common/scss/package/06-p-main.scss */
.main-nav__item {
    position: relative;
    margin-top: 30px;
}

/* line 30, src/common/scss/package/06-p-main.scss */
.main-nav__item:first-child {
    margin-top: 0;
}

/* line 33, src/common/scss/package/06-p-main.scss */
.main-nav__item-anchors {
    position: relative;
    display: block;
    padding: 10px;
    width: 5px;
    height: 5px;
}

/* line 39, src/common/scss/package/06-p-main.scss */
.main-nav__item-anchors:before {
    content: '';
    position: absolute;
    top: 26%;
    left: 44%;
    background-image: url("../img/icons.png");
    background-position: -16px -41px;
    width: 6px;
    height: 6px;
    color: #9a9ea4;
}

/* line 51, src/common/scss/package/06-p-main.scss */
.main-nav__item-tit {
    position: absolute;
    top: -4px;
    left: 100%;
    margin-left: 20px;
    display: none;
    white-space: nowrap;
    text-align: center;
    padding: 8px;
    color: #fff;
    font-size: 0.8rem;
    background-color: #0085db;
    border-radius: 2px;
}

/* line 64, src/common/scss/package/06-p-main.scss */
.main-nav__item-tit:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -3px;
    right: 100%;
    background-image: url("../img/icons.png");
    background-position: -164px -22px;
    width: 3px;
    height: 6px;
}

/* line 78, src/common/scss/package/06-p-main.scss */
.main-nav__item:hover .main-nav__item-tit {
    display: block;
}

/* line 83, src/common/scss/package/06-p-main.scss */
.main-nav__item.active .main-nav__item-anchors:before {
    color: #fff;
    transition: color 0.1s linear 0.4s;
}

/* line 90, src/common/scss/package/06-p-main.scss */
.main-nav__object {
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background-image: url("../img/icons.png");
    background-position: -32px -41px;
    top: 1px;
    left: 50%;
    margin-left: -8px;
    transition: transform 0.4s ease 0s;
    border-radius: 50%;
}

/* line 106, src/common/scss/package/06-p-main.scss */
.section {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* line 110, src/common/scss/package/06-p-main.scss */
.section__wrap {
    height: 100%;
}

/* line 113, src/common/scss/package/06-p-main.scss */
.section__content {
    display: table;
    width: 1350px;
    margin: 0 auto;
    height: 100%;
    table-layout: fixed;
}

/* line 119, src/common/scss/package/06-p-main.scss */
.section__content__list {
    display: table-cell;
    vertical-align: middle;
}

/* line 123, src/common/scss/package/06-p-main.scss */
.section__content__info {
    position: relative;
    background: rgba(3, 77, 152, 0.8);
    transition: margin 0.3s linear 0s,
width 0.3s linear 0s;
}

/* line 128, src/common/scss/package/06-p-main.scss */
.section__content__info-wrap {
    color: #fff;
}

/* line 131, src/common/scss/package/06-p-main.scss */
.section__content__info__tit {
    position: relative;
    display: inline;
    font-size: 55px;
    color: inherit;
    line-height: 1.2;
    transition: font-size 0.3s linear 0s;
}

@media screen and (max-width: 1280px) {
    /* line 131, src/common/scss/package/06-p-main.scss */
    .section__content__info__tit {
            font-size: 50px;
    }
}

@media screen and (max-width: 1050px) {
    /* line 131, src/common/scss/package/06-p-main.scss */
    .section__content__info__tit {
            font-size: 40px;
    }
}

@media screen and (max-width: 640px) {
    /* line 131, src/common/scss/package/06-p-main.scss */
    .section__content__info__tit {
            letter-spacing: -1px;
            font-size: 30px;
            margin-bottom: 15px;
    }
}

@media screen and (min-width: 640px) {
    /* line 150, src/common/scss/package/06-p-main.scss */
    .section__content__info__tit:after {
            content: '';
            position: absolute;
            display: block;
            width: 120px;
            height: 2px;
            background-color: #fff;
            bottom: 25px;
            left: 100%;
            margin-left: 20px;
    }
}

/* line 163, src/common/scss/package/06-p-main.scss */
.section__content__info__desc {
    margin-top: 30px;
    line-height: 1.5;
    transition: font-size 0.3s linear 0s;
    color: inherit;
}

@media screen and (max-width: 1050px) {
    /* line 163, src/common/scss/package/06-p-main.scss */
    .section__content__info__desc {
            font-size: 14px;
            word-break: keep-all;
    }
    /* line 171, src/common/scss/package/06-p-main.scss */
    .section__content__info__desc > br {
            display: none;
    }
}

/* line 178, src/common/scss/package/06-p-main.scss */
.section.section-main {
    position: relative;
}

/* line 181, src/common/scss/package/06-p-main.scss */
.section.section-main .section-main__slider-wrap {
    height: 100vh;
}

/* line 183, src/common/scss/package/06-p-main.scss */
.section.section-main .section-main__slider-wrap:after {
    content: '';
    display: block;
    clear: both;
}

/* line 189, src/common/scss/package/06-p-main.scss */
.section.section-main .section-main__slider-item {
    width: 100%;
    height: 100vh;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/* line 196, src/common/scss/package/06-p-main.scss */
.section.section-main .section-main__slider-item.slider-item-01 {
    background-image: url("../img/main_section-main_bg_01.jpg");
}

/* line 199, src/common/scss/package/06-p-main.scss */
.section.section-main .section-main__slider-item.slider-item-02 {
    background-image: url("../img/main_section-main_bg_02.jpg");
}

/* line 202, src/common/scss/package/06-p-main.scss */
.section.section-main .section-main__slider-item.slider-item-03 {
    background-image: url("../img/main_section-main_bg_03.jpg");
    background-position: 70% 50%;
}

/* line 208, src/common/scss/package/06-p-main.scss */
.section.section-main .slick-dots {
    top: 50%;
    left: 0;
    right: 0;
    width: 1350px;
    margin: 0 auto;
    text-align: center;
    margin-top: -140px;
    z-index: 6;
}

@media screen and (max-width: 1350px) {
    /* line 208, src/common/scss/package/06-p-main.scss */
    .section.section-main .slick-dots {
            width: 100%;
    }
}

@media screen and (max-width: 1050px) {
    /* line 208, src/common/scss/package/06-p-main.scss */
    .section.section-main .slick-dots {
            margin-top: -135px;
    }
}

@media screen and (max-width: 640px) {
    /* line 208, src/common/scss/package/06-p-main.scss */
    .section.section-main .slick-dots {
            top: auto;
            margin-top: 0;
            bottom: 15%;
    }
}

/* line 228, src/common/scss/package/06-p-main.scss */
.section.section-main .slick-dots li {
    float: none;
    display: inline-block;
}

/* line 231, src/common/scss/package/06-p-main.scss */
.section.section-main .slick-dots li:first-child {
    margin-left: 90px;
}

@media screen and (max-width: 1050px) {
    /* line 231, src/common/scss/package/06-p-main.scss */
    .section.section-main .slick-dots li:first-child {
            margin-left: 120px;
    }
}

@media screen and (max-width: 640px) {
    /* line 231, src/common/scss/package/06-p-main.scss */
    .section.section-main .slick-dots li:first-child {
            margin-left: 0;
    }
}

/* line 241, src/common/scss/package/06-p-main.scss */
.section.section-main .slick-dots li.play_button button {
    width: 6px;
    height: 10px;
    background-position: -137px -41px;
}

/* line 245, src/common/scss/package/06-p-main.scss */
.section.section-main .slick-dots li.play_button button.stop {
    background-position: -153px -41px;
}

/* line 251, src/common/scss/package/06-p-main.scss */
.section.section-main .slick-dots:after {
    content: '';
    display: block;
    clear: both;
}

/* line 257, src/common/scss/package/06-p-main.scss */
.section.section-main .slick-slide {
    height: 100vh;
}

/* line 260, src/common/scss/package/06-p-main.scss */
.section.section-main .slick-slide > div {
    height: 100%;
}

/* line 263, src/common/scss/package/06-p-main.scss */
.section.section-main .slick-slide img {
    width: 100%;
}

/* line 270, src/common/scss/package/06-p-main.scss */
.section.section-main .section__content__list {
    height: 100%;
}

/* line 273, src/common/scss/package/06-p-main.scss */
.section.section-main .section__content__info {
    margin-left: 10%;
    width: 47%;
}

@media screen and (max-width: 1500px) {
    /* line 273, src/common/scss/package/06-p-main.scss */
    .section.section-main .section__content__info {
            margin-left: 15%;
            width: 45%;
    }
}

@media screen and (max-width: 640px) {
    /* line 273, src/common/scss/package/06-p-main.scss */
    .section.section-main .section__content__info {
            margin-left: 30%;
            width: 70%;
    }
}

/* line 284, src/common/scss/package/06-p-main.scss */
.section.section-main .section__content__info-wrap {
    margin-left: -14%;
    padding: 50px 0;
    min-height: 310px;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {
    /* line 284, src/common/scss/package/06-p-main.scss */
    .section.section-main .section__content__info-wrap {
            min-height: auto;
            padding: 30px 0;
    }
}

/* line 297, src/common/scss/package/06-p-main.scss */
.section.section-business {
    background-image: url("../img/main_section-business_bg.jpg");
}

@media screen and (max-width: 640px) {
    /* line 297, src/common/scss/package/06-p-main.scss */
    .section.section-business {
            background-image: none;
            background-color: #fff;
            height: auto !important;
    }
    /* line 303, src/common/scss/package/06-p-main.scss */
    .section.section-business .fp-tableCell {
            height: auto !important;
    }
}

/* line 309, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__list:after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (max-width: 640px) {
    /* line 308, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__list {
            display: block;
    }
}

/* line 318, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__info {
    float: left;
    position: relative;
    margin-left: 10%;
    margin-right: 1%;
    height: 500px;
    width: 20%;
    background: rgba(0, 178, 116, 0.8);
    transition: all 0.3s linear 0s;
}

@media screen and (max-width: 1050px) {
    /* line 318, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__info {
            height: 45%;
            margin-right: 1%;
            margin-left: 5%;
    }
}

@media screen and (max-width: 640px) {
    /* line 318, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__info {
            float: none;
            width: 100%;
            height: 180px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            margin: 0;
            background: #00b274;
    }
}

@media (min-width: 640px) and (max-height: 850px) {
    /* line 318, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__info {
            height: 350px;
            margin-left: 15%;
    }
}

/* line 347, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__info-wrap {
    margin-left: -43%;
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: -25%;
}

@media screen and (max-width: 1500px) {
    /* line 347, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__info-wrap {
            margin-left: -20%;
    }
}

@media screen and (max-width: 640px) {
    /* line 347, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__info-wrap {
            position: relative;
            margin: 0;
            padding: 40px 30px;
            top: 0;
    }
}

@media screen and (min-width: 640px) {
    /* line 366, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box {
            float: left;
            width: 62%;
    }
}

@media screen and (max-width: 1050px) {
    /* line 366, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box {
            float: left;
            width: 70%;
    }
}

@media screen and (max-width: 640px) {
    /* line 366, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box {
            width: 100%;
            padding: 150px 30px 40px;
            box-sizing: border-box;
    }
}

@media (min-width: 640px) and (max-height: 850px) {
    /* line 366, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box {
            width: 55%;
    }
}

/* line 383, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__box:after {
    content: '';
    display: block;
    clear: both;
}

/* line 388, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__box__item {
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 640px) {
    /* line 388, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item {
            float: left;
            overflow: hidden;
            width: 31%;
            margin: 0 1%;
            height: 100%;
            box-shadow: 8px 7px 30px 4px rgba(0, 0, 0, 0.5);
    }
}

/* line 402, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__box__item > a {
    position: relative;
    display: block;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0;
}

@media (min-width: 640px) {
    /* line 402, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item > a {
            transition: background 0.5s linear 0s;
    }
}

@media (min-width: 640px) and (max-height: 850px) {
    /* line 402, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item > a {
            height: 350px;
    }
}

@media (max-width: 640px) {
    /* line 402, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item > a {
            padding-top: 45%;
            height: auto;
            margin-bottom: 3%;
    }
}

/* line 424, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__box__item:first-child .section__content__box__item-link {
    background-image: url("../img/main_section-business_item_01.jpg");
}

@media screen and (max-width: 640px) {
    /* line 424, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child .section__content__box__item-link {
            background-image: url("../img/mo-main_section-business_item_01.jpg");
    }
}

@media screen and (min-width: 640px) {
    /* line 430, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child + .section__content__box__item {
            transform: translateY(-10%);
    }
}

/* line 434, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__box__item:first-child + .section__content__box__item .section__content__box__item-link {
    background-image: url("../img/main_section-business_item_02.jpg");
}

@media screen and (max-width: 640px) {
    /* line 434, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child + .section__content__box__item .section__content__box__item-link {
            background-image: url("../img/mo-main_section-business_item_02.jpg");
    }
}

@media screen and (min-width: 640px) {
    /* line 441, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child + .section__content__box__item + .section__content__box__item {
            transform: translateY(5%);
    }
    /* line 444, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child + .section__content__box__item + .section__content__box__item .section__content__box__item-link {
            margin-bottom: -3%;
    }
}

/* line 448, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__box__item:first-child + .section__content__box__item + .section__content__box__item .section__content__box__item-link {
    background-image: url("../img/main_section-business_item_03.jpg");
}

@media screen and (max-width: 640px) {
    /* line 448, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child + .section__content__box__item + .section__content__box__item .section__content__box__item-link {
            background-image: url("../img/mo-main_section-business_item_03.jpg");
    }
}

@media screen and (min-width: 640px) {
    /* line 423, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child {
            transform: translateY(10%);
    }
    /* line 459, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child:hover .section__content__box__item-link {
            background-image: url("../img/main_section-business_item_01-hover.jpg");
    }
    /* line 465, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child + .section__content__box__item:hover .section__content__box__item-link {
            background-image: url("../img/main_section-business_item_02-hover.jpg");
    }
    /* line 471, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:first-child + .section__content__box__item + .section__content__box__item:hover .section__content__box__item-link {
            background-image: url("../img/main_section-business_item_03-hover.jpg");
    }
}

/* line 480, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__box__item-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px 5% 20%;
    color: #fff;
    transition: all 0.2s linear 0s;
}

@media screen and (max-width: 640px) {
    /* line 480, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item-wrap {
            padding: 30px 5% 30px;
    }
}

/* line 494, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__box__item-tit {
    font-size: 30px;
    color: inherit;
}

@media screen and (max-width: 1050px) {
    /* line 494, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item-tit {
            font-size: 22px;
    }
}

@media screen and (max-height: 850px) {
    /* line 494, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item-tit {
            font-size: 22px;
    }
}

/* line 504, src/common/scss/package/06-p-main.scss */
.section.section-business .section__content__box__item-desc {
    color: inherit;
    line-height: 1.4;
    height: 0;
    opacity: 0;
    transform: translateY(30px);
    word-break: keep-all;
}

@media screen and (max-width: 1050px) {
    /* line 504, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item-desc {
            font-size: 13px;
    }
}

@media screen and (max-height: 850px) {
    /* line 504, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item-desc {
            font-size: 13px;
    }
}

@media screen and (min-width: 640px) {
    /* line 520, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:hover .section__content__box__item-wrap {
            background-size: 110%;
            transition: all 0.2s linear 0s;
    }
    /* line 526, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:hover .section__content__box__item-wrap .section__content__item__tit {
            padding-top: 20px;
    }
    /* line 529, src/common/scss/package/06-p-main.scss */
    .section.section-business .section__content__box__item:hover .section__content__box__item-wrap .section__content__box__item-desc {
            margin-top: 20px;
            height: 100%;
            opacity: 1;
            transform: translateY(0);
            transition: height 0.3s linear 0s,
opacity 0.3s linear 0.2s,
margin 0.5s linear 0s,
transform 0.3s linear 0.2s;
    }
}

/* line 546, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork {
    background-image: url("../img/main_global_network_bg.jpg");
}

@media screen and (max-width: 640px) {
    /* line 546, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork {
            background-image: none;
            background-color: #ff772d;
            height: auto !important;
    }
    /* line 552, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .fp-tableCell {
            height: auto !important;
    }
}

/* line 556, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__wrap {
    position: relative;
}

/* line 559, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content {
    background-image: url("../img/main_worldmap_bg.png");
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 100%;
}

@media screen and (max-width: 1200px) {
    /* line 559, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content {
            background-size: 900px auto;
    }
}

@media screen and (max-width: 800px) {
    /* line 559, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content {
            background-size: 640px auto;
    }
}

@media screen and (max-width: 640px) {
    /* line 559, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content {
            background-image: url("../img/mo-main_worldmap_bg.jpg");
            background-size: cover;
            background-position: 0 0;
    }
}

@media screen and (min-width: 640px) {
    /* line 576, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info {
            background: rgba(255, 96, 0, 0.8);
            width: 30%;
            margin-left: 60%;
            margin-bottom: -40%;
    }
}

@media screen and (max-width: 640px) {
    /* line 576, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info {
            background: none;
    }
}

@media screen and (min-width: 640px) {
    /* line 586, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info-wrap {
            margin-left: -20%;
            padding: 10% 0;
    }
}

@media screen and (max-width: 640px) {
    /* line 586, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info-wrap {
            padding: 40px 30px;
    }
}

@media screen and (max-width: 640px) {
    /* line 598, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info__tit > br {
            display: none;
    }
}

/* line 604, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item {
    position: absolute;
    color: #fff;
    cursor: pointer;
    transition: margin 0.4s ease 0s;
}

/* line 609, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item:before {
    content: '';
    position: absolute;
    display: inline-block;
    top: 10px;
    left: -20px;
    background-image: url("../img/icons.png");
    background-position: -257px 0;
    width: 8px;
    height: 8px;
}

/* line 620, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item-wrap {
    transform: translateX(0);
    position: relative;
}

@media screen and (max-width: 1200px) {
    /* line 620, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item-wrap {
            font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    /* line 620, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item-wrap {
            font-size: 10px;
    }
}

/* line 629, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item-wrap:before {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 8px;
    top: 24px;
    right: 100%;
    background-image: url("../img/icons.png");
    background-position: -150px -22px;
    opacity: 0;
}

/* line 643, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.active:before {
    background-position: -264px -10px;
    width: 36px;
    height: 36px;
    margin: -14px 0 0 -14px;
}

/* line 650, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.active .section__content__item-wrap {
    position: relative;
    transform: translateX(10px);
    transition: transform 0.2s linear 0s, padding 0.2s linear 0s, background-color 0.3s linear 0.3s;
    background-color: #ff772d;
    min-width: 90px;
    padding: 15px;
    border-radius: 2px;
    z-index: 1;
}

@media screen and (max-width: 800px) {
    /* line 650, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.active .section__content__item-wrap {
            padding: 10px;
    }
}

/* line 663, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.active .section__content__item-wrap:before {
    opacity: 1;
    transition: opacity 0.3s linear 0.3s;
}

/* line 667, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.active .section__content__item__desc {
    display: block;
    max-height: 1000px;
    transition: max-height 0.3s linear 0.3s;
}

/* line 672, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.active .section__content__item__tit:before {
    opacity: 0.5;
    transition: opacity 0.6s linear 0s;
}

/* line 677, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.item__name-europe {
    top: 50%;
    left: 50%;
    margin-left: -519px;
    margin-top: -165px;
}

@media screen and (max-width: 1200px) {
    /* line 677, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-europe {
            margin-left: -356px;
            margin-top: -113px;
    }
}

@media screen and (max-width: 800px) {
    /* line 677, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-europe {
            margin-left: -256px;
            margin-top: -82px;
    }
}

/* line 691, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.item__name-middle-east {
    top: 50%;
    left: 50%;
    margin-top: -98px;
    margin-left: -370px;
}

@media screen and (max-width: 1200px) {
    /* line 691, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-middle-east {
            margin-top: -66px;
            margin-left: -235px;
    }
}

@media screen and (max-width: 800px) {
    /* line 691, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-middle-east {
            margin-top: -48px;
            margin-left: -178px;
    }
}

/* line 705, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.item__name-asia {
    top: 50%;
    left: 50%;
    margin-top: -57px;
    margin-left: -230px;
}

@media screen and (max-width: 1200px) {
    /* line 705, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-asia {
            margin-top: -40px;
            margin-left: -140px;
    }
}

@media screen and (max-width: 800px) {
    /* line 705, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-asia {
            margin-top: -37px;
            margin-left: -99px;
    }
}

/* line 719, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.item__name-china {
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: -190px;
}

@media screen and (max-width: 1200px) {
    /* line 719, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-china {
            margin-top: -120px;
            margin-left: -130px;
    }
}

@media screen and (max-width: 800px) {
    /* line 719, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-china {
            margin-top: -94px;
            margin-left: -83px;
    }
}

/* line 733, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.item__name-korea {
    top: 50%;
    left: 50%;
    margin-top: -127px;
    margin-left: -165px;
}

/* line 738, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.item__name-korea:before {
    width: 36px;
    height: 36px;
    top: 20px;
    left: 8px;
    background-position: -264px -56px;
    margin: 0;
    animation-duration: 2s;
    animation-name: korea;
    animation-iteration-count: infinite;
}

@keyframes korea {
    0% {
            opacity: 1;
    }
    50% {
            opacity: 0.5;
    }
    100% {
            opacity: 1;
    }
}

@media screen and (max-width: 1200px) {
    /* line 733, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-korea {
            margin-top: -95px;
            margin-left: -115px;
    }
}

@media screen and (max-width: 800px) {
    /* line 733, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-korea {
            margin-top: -77px;
            margin-left: -89px;
    }
    /* line 768, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-korea .section__content__item-wrap {
            transform: translate(18px, 7px);
    }
}

/* line 773, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.item__name-japan {
    top: 50%;
    left: 50%;
    margin-top: -98px;
    margin-left: -76px;
}

@media screen and (max-width: 1200px) {
    /* line 773, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-japan {
            margin-top: -75px;
            margin-left: -42px;
    }
}

@media screen and (max-width: 800px) {
    /* line 773, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-japan {
            margin-top: -45px;
            margin-left: -34px;
    }
}

/* line 788, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.item__name-australia {
    top: 50%;
    left: 50%;
    margin-top: 201px;
    margin-left: -55px;
}

@media screen and (max-width: 1200px) {
    /* line 788, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-australia {
            margin-top: 124px;
            margin-left: -55px;
    }
}

@media screen and (max-width: 800px) {
    /* line 788, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-australia {
            margin-top: 90px;
            margin-left: -40px;
    }
}

/* line 802, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item.item__name-north-america {
    top: 50%;
    left: 50%;
    margin-top: -123px;
    margin-left: 340px;
}

@media screen and (max-width: 1200px) {
    /* line 802, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-north-america {
            margin-top: -86px;
            margin-left: 215px;
    }
}

@media screen and (max-width: 800px) {
    /* line 802, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__item.item__name-north-america {
            margin-top: -66px;
            margin-left: 164px;
    }
}

/* line 816, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item__tit {
    position: relative;
    padding-bottom: 10px;
}

/* line 820, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__item__desc {
    max-height: 0;
    overflow: hidden;
}

/* line 826, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__sub-item {
    margin: 10px 0 0;
}

/* line 828, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__sub-item > a {
    display: block;
    position: relative;
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
    font-size: 14px;
}

@media screen and (max-width: 800px) {
    /* line 828, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__sub-item > a {
            font-size: 11px;
    }
}

/* line 838, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__sub-item > a:hover {
    text-decoration: underline;
}

/* line 840, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__sub-item > a:hover:after {
    content: '';
    background-image: url("../img/icons.png");
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 6px;
    top: 50%;
    margin-top: -3px;
    right: 0;
    background-position: -128px -22px;
}

/* line 858, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__info-list-pc {
    display: block;
}

@media screen and (max-width: 640px) {
    /* line 858, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info-list-pc {
            display: none;
    }
}

/* line 864, src/common/scss/package/06-p-main.scss */
.section.section-globalNetwork .section__content__info-list-mo {
    display: none;
}

@media screen and (max-width: 640px) {
    /* line 864, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info-list-mo {
            display: block;
            padding: 0 30px 40px;
    }
    /* line 869, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info-list-mo .m-select__wrap {
            width: 100%;
    }
    /* line 872, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info-list-mo .m-select__label {
            padding: 16px 10px 14px;
    }
    /* line 875, src/common/scss/package/06-p-main.scss */
    .section.section-globalNetwork .section__content__info-list-mo .m-select__view-list__item {
            padding: 12px 20px;
    }
}

/* line 882, src/common/scss/package/06-p-main.scss */
.section.section-news {
    overflow: hidden;
    background-image: url("../img/main_worldmap_bg.jpg");
}

@media screen and (max-width: 640px) {
    /* line 882, src/common/scss/package/06-p-main.scss */
    .section.section-news {
            height: auto !important;
    }
    /* line 887, src/common/scss/package/06-p-main.scss */
    .section.section-news .fp-tableCell {
            height: auto !important;
    }
}

@media screen and (max-width: 640px) {
    /* line 889, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content {
            display: block;
    }
}

@media screen and (max-width: 640px) {
    /* line 893, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__list {
            display: block;
    }
}

/* line 898, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__info {
    background-color: #fff;
}

@media screen and (min-width: 1396px) {
    /* line 901, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__info:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 100%;
            background-color: #fff;
            bottom: 0;
            width: 100%;
    }
}

@media screen and (max-width: 1500px) {
    /* line 898, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__info {
            box-sizing: border-box;
            margin-left: 60px;
    }
}

@media screen and (max-width: 640px) {
    /* line 898, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__info {
            padding: 40px 30px;
            margin-left: 0;
    }
}

/* line 920, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__info:after {
    content: '';
    display: block;
    clear: both;
}

/* line 925, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__info-wrap {
    float: left;
    width: 24%;
}

@media screen and (max-width: 640px) {
    /* line 925, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__info-wrap {
            float: none;
            width: 100%;
    }
}

/* line 933, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__info__tit {
    display: block;
    margin-top: 60px;
    text-align: center;
    color: #464646;
}

@media screen and (max-width: 640px) {
    /* line 933, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__info__tit {
            text-align: left;
            margin-top: 0;
    }
}

/* line 942, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__info__tit:after {
    content: none;
}

/* line 947, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-arrow {
    position: absolute;
    width: 42px;
    height: 42px;
    border: 1px solid #ddd;
    bottom: 0;
    font: 0/0 a;
    z-index: 1;
}

/* line 955, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-arrow:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 18px;
    background-image: url("../img/icons.png");
}

@media screen and (max-height: 800px) {
    /* line 947, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content .slick-arrow {
            bottom: auto;
            top: 0;
    }
}

@media screen and (max-width: 640px) {
    /* line 947, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content .slick-arrow {
            width: 35px;
            height: 35px;
    }
}

/* line 973, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-prev {
    right: 82px;
}

/* line 975, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-prev:before {
    background-position: -60px -41px;
}

/* line 979, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-prev:hover:before {
    background-position: -184px -69px;
}

@media screen and (max-width: 640px) {
    /* line 973, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content .slick-prev {
            display: none !important;
    }
}

/* line 987, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-next {
    right: 41px;
}

/* line 989, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-next:before {
    background-position: -78px -41px;
}

/* line 993, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-next:hover:before {
    background-position: -166px -69px;
}

@media screen and (max-width: 640px) {
    /* line 987, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content .slick-next {
            display: none !important;
    }
}

/* line 1001, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-more {
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

/* line 1005, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-more > span {
    font: 0/0 a;
}

/* line 1008, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-more:before {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    margin: -7px 0 0 -7px;
    background-position: -96px -41px;
}

/* line 1018, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content .slick-more:hover:before {
    background-position: -202px -69px;
}

@media screen and (max-width: 640px) {
    /* line 1001, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content .slick-more {
            top: 40px;
            right: 30px;
    }
}

@media screen and (max-width: 640px) {
    /* line 1028, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content .slick-slide {
            width: 100% !important;
    }
}

/* line 1033, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__news__sub-tit {
    position: relative;
    padding: 20px 0 15px;
    margin-bottom: 15px;
    color: #0085db;
    font-size: 14px;
}

/* line 1039, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__news__sub-tit:after {
    content: '';
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    top: 100%;
    left: 0;
    background-color: #0085db;
}

@media screen and (max-width: 1050px) {
    /* line 1033, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news__sub-tit {
            padding: 10px 0;
    }
}

@media screen and (max-width: 640px) {
    /* line 1033, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news__sub-tit {
            margin: 0;
            font-size: 11px;
    }
    /* line 1055, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news__sub-tit:after {
            content: none;
    }
}

/* line 1060, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__news-wrap {
    max-height: 500px;
    overflow: hidden;
}

/* line 1063, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__news-wrap:after {
    content: '';
    display: block;
    clear: both;
}

/* line 1069, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__news-list {
    display: block;
    float: left;
    width: 33.3%;
    margin: 60px 0;
    padding: 0 40px;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
}

@media screen and (min-width: 640px) {
    /* line 1079, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list:hover .section__content__news-list__tit {
            color: #0085db;
    }
}

@media screen and (max-width: 1050px) {
    /* line 1069, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list {
            padding: 0 20px;
            margin: 40px 0;
    }
}

@media screen and (max-width: 640px) {
    /* line 1069, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list {
            border-left: 0;
            border-bottom: 1px solid #ddd;
            padding: 15px 0;
            margin: 0;
    }
}

/* line 1095, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__news-list__tit {
    overflow: hidden;
    height: 72px;
    word-break: keep-all;
    margin-bottom: 15px;
    line-height: 1.2;
    color: #111;
    font-size: 20px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media screen and (max-height: 850px) {
    /* line 1095, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list__tit {
            font-size: 18px;
            height: 42px;
            -webkit-line-clamp: 2;
    }
}

@media screen and (max-width: 1050px) {
    /* line 1095, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list__tit {
            font-size: 16px;
            height: 58px;
    }
}

@media screen and (max-width: 640px) {
    /* line 1095, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list__tit {
            font-size: 13px;
            height: 30px;
            -webkit-line-clamp: 2;
    }
}

/* line 1122, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__news-list__content {
    overflow: hidden;
    word-break: keep-all;
    height: 170px;
    line-height: 1.5;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    margin-bottom: 30px;
    color: #666;
}

@media screen and (max-height: 850px) {
    /* line 1122, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list__content {
            height: 120px;
            -webkit-line-clamp: 5;
    }
}

@media screen and (max-width: 1050px) {
    /* line 1122, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list__content {
            height: 133px;
            font-size: 13px;
            margin-bottom: 15px;
    }
}

@media screen and (max-width: 640px) {
    /* line 1122, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list__content {
            display: none;
    }
}

/* line 1146, src/common/scss/package/06-p-main.scss */
.section.section-news .section__content__news-list-time {
    font-size: 14px;
    color: #999;
}

@media screen and (max-width: 1050px) {
    /* line 1146, src/common/scss/package/06-p-main.scss */
    .section.section-news .section__content__news-list-time {
            font-size: 12px;
    }
}

/* line 1161, src/common/scss/package/06-p-main.scss */
.gs-main:not(.fp-viewing-0) .c-header {
    background-color: #fff;
    transition: background-color 0.5s linear 0s;
}

/* line 1163, src/common/scss/package/06-p-main.scss */
[lang="ko"] .gs-main:not(.fp-viewing-0) .c-header__logo-wrap__link {
    background-image: url(../img/gs_color-logo.png);
}

/* line 1164, src/common/scss/package/06-p-main.scss */
.gs-main:not(.fp-viewing-0) .c-header .c-header__menu-list__item-tit {
    color: #000;
}

/* line 1165, src/common/scss/package/06-p-main.scss */
.gs-main:not(.fp-viewing-0) .c-header .c-header__menu-utility {
    color: #000;
}

/* line 1166, src/common/scss/package/06-p-main.scss */
.gs-main:not(.fp-viewing-0) .c-header__menu-lang__btn:after {
    background-position: -139px 0;
}

/* line 1167, src/common/scss/package/06-p-main.scss */
.gs-main:not(.fp-viewing-0) .c-header__hambuger-item--all-menu:after {
    background-position: -24px 0;
}

/* line 1168, src/common/scss/package/06-p-main.scss */
.gs-main:not(.fp-viewing-0) .c-header.all-menu-active .c-header__hambuger-item--all-menu:after {
    background-position: -229px -22px;
}

/* line 1169, src/common/scss/package/06-p-main.scss */
.gs-main:not(.fp-viewing-0) .c-header__hambuger-object {
    background-color: #000;
}

/* line 1171, src/common/scss/package/06-p-main.scss */
.gs-main footer {
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    bottom: -115px;
    transition: bottom 0.3s linear 0.5s;
}

@media screen and (max-width: 640px) {
    /* line 1171, src/common/scss/package/06-p-main.scss */
    .gs-main footer {
            position: relative;
            transition: none;
    }
}

/* line 1185, src/common/scss/package/06-p-main.scss */
.fp-viewing-3 footer {
    top: auto;
    bottom: 0;
    transition: bottom 0.3s linear 0.6s;
}

@media screen and (max-width: 640px) {
    /* line 1185, src/common/scss/package/06-p-main.scss */
    .fp-viewing-3 footer {
            transition: none;
    }
}

/* line 1192, src/common/scss/package/06-p-main.scss */
.fp-viewing-3 footer .c-footer__quick-menu {
    bottom: 80px;
    transition: bottom 0.3s linear 0.6s;
}

@media screen and (max-width: 933px) {
    /* line 1192, src/common/scss/package/06-p-main.scss */
    .fp-viewing-3 footer .c-footer__quick-menu {
            bottom: 130px;
    }
}

/* line 1199, src/common/scss/package/06-p-main.scss */
.fp-viewing-3 footer .c-footer__inner {
    border-top: 0;
    padding: 10px 0 20px;
}

@media screen and (min-width: 640px) {
    /* line 1199, src/common/scss/package/06-p-main.scss */
    .fp-viewing-3 footer .c-footer__inner {
            background-color: #000;
    }
}

@media screen and (max-width: 640px) {
    /* line 1199, src/common/scss/package/06-p-main.scss */
    .fp-viewing-3 footer .c-footer__inner {
            padding: 20px;
    }
}

/* line 1209, src/common/scss/package/06-p-main.scss */
.fp-viewing-3 footer .c-footer__item-positon-right {
    margin-top: 0;
}

/* line 1212, src/common/scss/package/06-p-main.scss */
.fp-viewing-3 footer .c-footer__list-wrap {
    max-width: 1350px;
}

/* line 1215, src/common/scss/package/06-p-main.scss */
.fp-viewing-3 footer .c-footer__item-positon-left {
    padding-top: 12px;
}

/* line 1218, src/common/scss/package/06-p-main.scss */
.fp-viewing-3 footer .c-footer__text-copyright {
    display: inline-block;
    margin: 0;
}

@media screen and (min-width: 640px) {
    /* line 1223, src/common/scss/package/06-p-main.scss */
    .fp-viewing-3 footer .c-footer__item-positon-left .c-footer__text {
            color: #999;
    }
    /* line 1226, src/common/scss/package/06-p-main.scss */
    .fp-viewing-3 footer .c-footer__item-positon-right .c-footer__text {
            color: #fff;
    }
    /* line 1229, src/common/scss/package/06-p-main.scss */
    .fp-viewing-3 footer .c-footer__site-wrap__list-button {
            color: #fff;
    }
}

/* line 1233, src/common/scss/package/06-p-main.scss */
.fp-viewing-3 footer .c-footer__site-wrap__list {
    margin-bottom: 0;
}

@media screen and (min-width: 640px) {
    /* line 1236, src/common/scss/package/06-p-main.scss */
    .fp-viewing-3 footer .c-footer__site-wrap__list-button {
            border: 1px solid #333;
    }
}

/* line 1245, src/common/scss/package/06-p-main.scss */
.gs-main .c-footer__site-wrap.active .c-footer__site-wrap__list,
.gs-main.fp-viewing-3 .c-footer__site-wrap .c-footer__site-wrap__list {
    display: none;
}

/* line 1249, src/common/scss/package/06-p-main.scss */
.gs-main.fp-viewing-3 .c-footer__site-wrap.active .c-footer__site-wrap__list {
    display: block;
}

@media screen and (max-width: 640px) {
    /* line 1254, src/common/scss/package/06-p-main.scss */
    .gs-main footer .c-footer__quick-menu {
            position: relative;
            bottom: 0;
            left: 0;
            right: 0;
            transition: none;
            padding: 5%;
            background-color: #333;
    }
    /* line 1263, src/common/scss/package/06-p-main.scss */
    .gs-main footer .c-footer__quick-menu .c-footer__quick-item {
            background-image: none;
            margin-left: 0;
            width: 50%;
            height: 100px;
            box-sizing: border-box;
    }
    /* line 1269, src/common/scss/package/06-p-main.scss */
    .gs-main footer .c-footer__quick-menu .c-footer__quick-item:nth-child(2) {
            border-left: 1px solid #717171;
            margin-left: -1px;
    }
    /* line 1273, src/common/scss/package/06-p-main.scss */
    .gs-main footer .c-footer__quick-menu .c-footer__quick-item:nth-child(3) {
            border-top: 1px solid #717171;
            margin-top: -1px;
    }
    /* line 1277, src/common/scss/package/06-p-main.scss */
    .gs-main footer .c-footer__quick-menu .c-footer__quick-item:nth-child(4) {
            border-top: 1px solid #717171;
            border-left: 1px solid #717171;
            margin-top: -1px;
            margin-left: -1px;
    }
}

@media screen and (max-width: 1350px) {
    /* line 1292, src/common/scss/package/06-p-main.scss */
    .section__content {
            width: 100%;
    }
    /* line 1293, src/common/scss/package/06-p-main.scss */
    .c-header__all-menu__list-area__wrap {
            width: 100%;
    }
    /* line 1294, src/common/scss/package/06-p-main.scss */
    .fp-viewing-3 footer .c-footer__text-copyright {
            display: block;
            margin-top: 10px;
    }
}

@media screen and (max-width: 1050px) {
    /* line 1297, src/common/scss/package/06-p-main.scss */
    .main-nav {
            opacity: 0;
            z-index: -1;
    }
}