.SustainBusiness {
    .l-main__sub-layout {
        background-image: url('../img/sustain-business/sustain-business_submain_bg.jpg');
    }
    .l-main__sub-layout__menu-box__item:first-child + .l-main__sub-layout__menu-box__item {
        margin-right: 33.3%;
    }
    @include pc-only {
        .l-main__sub-layout__menu-box {
            padding-top: 35.6%;
        }
    }

    .l-main__sub-layout__info-tit {
        font-weight: 400;
    }
    .l-main__sub-layout__info-desc__sub-desc {
        @include Raleway;
    }
    .l-main__sub-layout__menu-box__item-tit {
        font-weight: 400;
    }

    .c-subvisual {
        background-image: url('../img/subvisual_company_news_bg.jpg');
    }

    .management {
        .o-img-wrap__rwd {
            width: 1120px;
            margin: 0 auto;
            padding-bottom: 150px;
        }
        @include tab {
            .o-img-wrap__rwd {
                width: auto;
            }
        }
        @include mob-large {
            .o-img-wrap__rwd {
                padding-bottom: 70px;
            }
        }
        .l-content {
            padding: 0;
        }
        .m-tab__list.m-tab__head-list {
            margin-bottom: 0;
        }
        .m-accordion-wrap {
            margin-bottom: 150px;
        }
        .subtab01 .l-content__wrap-burst {
            padding-top: 1px;
        }
        


    }

    .m-accordion-wrap {
        &.m-accordion-null {
            margin-top: 0;
            .m-accordion__list {
                pointer-events: none;
                .m-accordion__head:after {
                    display: none;
                }
                .m-accordion__head__tit {
                    padding-left:110px;
                }
                .m-accordion__head__sub-tit {
                    @include Raleway(600);
                    font-size: 20px;
                }
                @include mob {
                    .m-accordion__head__tit {
                        padding-left:20px;
                    }
                }

            }
        }
    }

    .ev-management {
        .m-visual {
            &__type1 {
                margin-bottom: 100px;
            }
            @include tab {
                &__type1 {
                    margin-bottom: 60px;
                    img {
                        width: 100%;
                    }
                }
            }
            &__type2 {
                padding: 80px 0;
                > ul {
                    @include Flex-around-center;
                    > li {
                        img {
                            
                        }
                    }
                }
            }
            @include tab {
                &__type2 {
                    padding: 30px 0;
                    > ul {
                        @include Flex_column-center-center;
                        > li {
                            & + li {margin-top:30px;}
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .guide {
            margin-top: 40px;
            color:#666;
            font-size: 15px;
            line-height: 1.5;
        }
        .m-tab__list.m-tab__head-list {
            margin-bottom: 0;
        }
        @include mob-large {
            .guide {
                margin-top: 20px;
                font-size: 12px;
            }
        }
    }

    .content-box {
        border-top: 2px solid #111;
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
        padding:50px 40px;
        > ul {
            > li {
                color:#666;
                font-size: 15px;
                margin-bottom:30px;
                line-height: 1.5;
            }
        }
    }
    @include mob-large {
        .content-box {
            padding:25px 20px;
            > ul {
                > li{
                    font-size: 13px;
                    margin-bottom:15px;
                }
            }
        }
    }

    .guide-list {
        > strong {
            font-weight: bold;
            display: block;
            margin-bottom: 20px;
        }
        > ul {
            margin-top:7px;
            > li{
                position: relative;
                padding-left: 7px;
                line-height: 1.4;
                margin-top: 7px;
                font-size: 14px;
                &:before {
                    @include Position($top:8px, $left:0);
                    display: block;
                    content: "";
                    width: 2px;height: 2px;
                    background-color: #2B2B2B;
                    border-radius: 100%;;
                }

            }
            @include mob-large {
                > li {
                    font-size: 13px;
                }
            }
        }
        @include mob-large {
            > strong {
                margin-bottom: 10px;
            }
        }	
    }

    .m-btn-wrap {
        margin-bottom: 40px;
        .m-btn {
            .m-btn-text {
                color: #111;
                font-size: 14px;
            }
            &:hover {
                .m-btn-text {
                    color: #fff;
                }
            }
        }
    }
    @include mob-large {
        .m-btn-wrap {
            .m-btn {
                width : 100%;
                & + .m-btn {
                    margin: 6px 0 0;
                }
            }

        }
    }

    .social-contribution {
        .m-title__list.m-title__sub-title {
            margin-top:0;
        }
        .thumb__list-item__cell-cnt__wrap-tit {
            margin-top:5px;
            margin-bottom: 30px;
            &:after {
                display: none;
            }
        }
        .m-title__desc {
            margin-top: 25px;
            text-align: right;
        }
        .m-table-wrap {
            th {
                @include Raleway(800);
            }
            td p {
                @include Raleway(400);
            }
            
        }
        @include mob-large {
            .thumb__list-item__cell-cnt__wrap-tit {
                margin-top:20px;
                margin-bottom: 15px;
            }
        }
    }

    .m-table-wrap {
        .guide {
            display: block;
            margin-top: 15px;
            color:#999;
            font-size: 13px;
            line-height: 1.4;
            &.top {
                margin: 15px 0;
                text-align: right;
            }
        }
        img {
            max-width: 100%;
        }
    }
    @include mob-large {
        .m-table-wrap {
            .guide {
                font-size: 11px;
                margin-top: 5px;
                &.top {
                    margin: 5px 0;
                }
            }
        }
    }

    .organization {
        .thumb__list {
            .thumb__list-item {
                @include Flex-center-center;
            }
            .thumb__list-item__cell-img {
                width: 67.3%;
                padding:0;
            }
            .thumb__list-item__cell-cnt {
                width: 32.7%;
                padding:0;
                @include Flex-end-center;
                .thumb__list-item__cell-cnt__wrap {
                    width: 75%;
                }
                .guide-list {
                    + .guide-list {
                        margin-top: 30px;
                        padding-top: 30px;
                        border-top:1px solid #dddddd;
                    }
                }
            }
            @include mob-large {
                .thumb__list-item {
                    display: block;
                }
                .thumb__list-item__cell-img {
                    width: 100%;
                }
                .thumb__list-item__cell-cnt {
                    width: 100%;
                    display: block;
                    .thumb__list-item__cell-cnt__wrap {
                        width: 100%;
                    }
                    .guide-list {
                        margin-top: 20px;
                        + .guide-list {
                            margin-top: 20px;
                            padding-top: 20px;
                        }
                    }
                }
            }
        }

    }

}